127.0.0.1	localhost

$ip_vm_database        database
$ip_vm_keystone        keystone
$ip_vm_glance          glance
$ip_vm_horizon         horizon
$ip_vm_nova            nova
$ip_vm_neutron         neutron