127.0.0.1	localhost

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

$ip_vm_database             database
$ip_vm_keystone             keystone
$ip_vm_glance               glance
$ip_vm_horizon              horizon
$ip_vm_placement            placement
$ip_vm_nova_controller      nova_controller
$ip_vm_neutron_controller   neutron_controller
$ip_vm_cinder               cinder

$ip_vm_nova_compute         nova_compute
$ip_vm_neutron_compute      neutron_compute